data.json
cogs/__pycache__/apex.cpython-311.pyc
cogs/__pycache__/calculator.cpython-311.pyc
cogs/__pycache__/csgo.cpython-311.pyc
cogs/__pycache__/help.cpython-311.pyc
cogs/__pycache__/league.cpython-311.pyc
cogs/__pycache__/leetcode.cpython-311.pyc
cogs/__pycache__/misc.cpython-311.pyc
cogs/__pycache__/voice.cpython-311.pyc
modules/__pycache__/files.cpython-311.pyc
modules/__pycache__/json.cpython-311.pyc
modules/__pycache__/jsondata.cpython-311.pyc
notes/botinfo.txt
notes/csgo-format.txt
notes/pc-vs-pi-changes.txt
notes/todo.txt
notes/whennew.txt
resources/images/alert.png
resources/images/apex.gif
resources/music/apex.mp3
resources/music/aw.mp3
resources/music/jupiter.mp3
resources/music/train1.mp3
resources/music/train2.mp3
resources/videos/jupiter.mp4
resources/videos/market.mp4
